/* src/Contact.css */
.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #282727; /* Background color for the contact page */
    color: #ffffff; /* Text color */
  }
  
  .contact-card {
    background-color: #333; /* Card background color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 600px;
    width: 100%;
  }
  
  .contact-card h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #444;
    color: #fff;
  }
  
  .form-group input::placeholder,
  .form-group textarea::placeholder {
    color: #bbb;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #28a745; /* Grass green color for the button */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #218838; /* Darker green for hover effect */
  }
  